@model nnnn.Models.Task

@{
    ViewData["Title"] = "Create";
}


<div class="container" style=" margin-top: 2em"><h1>Create</h1></div>
<div class="container" style=" margin-top: 2em"><h3>New task</h3></div>

<div class="container">
    <div class="row my-5">
        <div class="col-md-4">
            <div class="card border-dark mb-3">
                <div class="card-body">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control border-dark mb-3" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control border-dark mb-3" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Category" class="control-label"></label>
                            <input asp-for="Category" class="form-control border-dark mb-3" />
                            <span asp-validation-for="Category" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Status" class="control-label"></label>
                            <select asp-for="Status" class="form-control border-dark mb-3">
                                <option value="To be done">To be done</option>
                                <option value="In progress">In progress</option>
                                <option value="Done">Done
                                </option>
                            </select>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Assignee" class="control-label"></label>
                            <input asp-for="Assignee" class="form-control border-dark mb-3" />
                            <span asp-validation-for="Assignee" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="margin-top: 2em">
                            <input type="submit" value="Create" class="btn btn-dark" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}




